/* Estilos globales */
body {
    background-color: black;
    color: white;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Scroll suave */
html {
    scroll-behavior: smooth;
}
/* Navegación */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 10;
}

/* Contenedores de menú */
.left-menu,
.right-menu {
    display: flex;
    align-items: center;
}

.right-menu {
    margin-right: 20px; /* Espaciado entre los elementos del menú derecho y el borde */
}

/* Estilo para el logo */
.logo {
    margin: 0 20px; /* Espacio entre el logo y los enlaces de navegación */
}

/* Enlaces de navegación */
.nav-links,
.contact-link {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li,
.contact-link li {
    margin-right: 20px;
}

/* Estilos generales para los enlaces */
.nav-links a,
.contact-link a {
    color: white;
    text-decoration: none;
    position: relative;
    font-family: "Oswald", sans-serif;
}

/* Efectos hover y líneas de color */
.inicio::after,
.sobre-mi::after,
.trabajos::after,
.contacto::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

/* Colores específicos para cada enlace */
.inicio::after {
    background-color: #E6135a;
}

.sobre-mi::after {
    background-color: #69C0AF;
}

.trabajos::after {
    background-color: #FDC415;
}

.contacto::after {
    background-color: lightgray;
}

/* Efectos hover para enlaces */
.inicio:hover::after,
.sobre-mi:hover::after,
.trabajos:hover::after,
.contacto:hover::after {
    transform: scaleX(1);
}

.inicio:hover {
    color: #E6135a;
}

.sobre-mi:hover {
    color: #69C0AF;
}

.trabajos:hover {
    color: #FDC415;
}

.contacto:hover {
    color: lightgray;
}

/* Menú hamburguesa visible en móviles */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    margin-right: 20px;
}

/* Estilos responsivos para el menú hamburguesa */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: black;
        text-align: center;
    }

    .nav-links.show-menu {
        display: flex;
    }

    .contact-link {
        display: none; /* Ocultar el enlace de contacto en móvil si el menú está desplegado */
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .navigation {
        padding: 10px 20px;
    }

    .container {
        padding: 0 20px;
    }

    .name {
        font-size: 3rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 1rem;
    }

    .hello {
        font-size: 1.2rem;
    }

    /* Centramos el logo en móviles */
    .left-menu {
        justify-content: center;
        width: 100%;
    }

    /* Ocultamos el margen del logo en móvil */
    .logo {
        margin: 0;
    }
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 480px) {
    .name {
        font-size: 2rem;
    }

    .button {
        padding: 6px 12px;
        font-size: 0.9rem;
    }

    .social-icons a {
        font-size: 1.5rem;
    }
}

/* Estilos para la sección principal */
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Mantén el contenido alineado a la izquierda */
    text-align: left;
    padding-left: 20px;
    position: relative;
    width: 100%; /* Asegura que el contenedor use todo el ancho */
}

/* Estilo para alinear los textos a la izquierda */
.content {
    text-align: left;
    position: relative;
    z-index: 1;
}

/* Estilos para el "HELLO!!" */
.hello {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 20px 0;
    text-align: left;
}

/* Estilo para el nombre */
.name {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
}

/* Estilo para la sección principal de inicio */
.seccion-inicio {
    height: 100vh;
    background-image: url('/Recursos/FONDO.svg');
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Mantén centrada la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Opcional: hace que el fondo permanezca fijo al hacer scroll */
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Mantén el contenido a la izquierda */
    text-align: left;
    padding-left: 20px; /* Espacio entre el borde y el texto */
}


/* Estilos para los botones */
.about-button,
.ver-mas-button,
.submit-button,
.descargar-cv {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.descargar-cv {
    background-color: white;
    color: black;
}

/* Efectos hover para los botones */
.about-button:hover,
.ver-mas-button:hover,
.submit-button:hover,
.descargar-cv:hover {
    background-color: #555;
}


/* Estilos para la sección "Sobre Mi" */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.about-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.about-photo {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 40px;
}

.about-text {
    max-width: 600px;
}

.about-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.about-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Estilo específico para el botón "Sobre Mi" */
.about-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #69C0AF;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about-button:hover {
    background-color: #4d897d;
}

/* Responsivo: ajusta el tamaño en pantallas pequeñas */
@media (max-width: 768px) {
    .name {
        font-size: 4rem;
    }
    .hello {
        font-size: 1.5rem;
    }
}


.trabajos-section {
    padding: 100px 20px;
    background-color: #000; /* Fondo negro */
    color: #fff;
}

.trabajos-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #ffffff;
}

.trabajos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trabajos-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.trabajo-item {
    width: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
    border: 3px solid #FDC415; /* Marco */
    border-radius: 10px;
    padding: 10px;
    background-color: #1c1c1c; /* Fondo oscuro */
    transition: transform 0.3s ease, border-color 0.3s ease;
    position: relative;
}

.trabajo-item:hover {
    transform: scale(1.05);
    border-color: #b19216;
}

.trabajo-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.trabajo-titulo {
    font-size: 1.5rem;
    color: #fff;
}

.hidden {
    display: none;
}

.ver-mas-button {
    padding: 10px 20px;
    background-color: #FDC415;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ver-mas-button:hover {
    background-color: #e0b711;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Sección de contacto */
.contact-section {
    padding: 100px 20px;
    background-color: white;
    color: black;
    text-align: center;
}

.contact-title {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 40px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px; /* Añadimos padding en los lados del formulario */
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px); /* Ajustamos el ancho para evitar que se desborde y respetar el padding */
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #E6135a;
    background-color: #f9f9f9;
    color: black;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #69C0AF;
    outline: none;
}

.submit-button {
    padding: 12px 20px;
    font-size: 1.2rem;
    background-color: #E6135a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #C11248;
}

/* Responsividad */
@media (max-width: 768px) {
    .contact-section {
        padding: 50px 20px;
    }

    .contact-title {
        font-size: 2rem;
    }

    .contact-form {
        padding: 0 15px; /* Reducimos el padding en pantallas más pequeñas */
        width: 100%; /* Aseguramos que el formulario ocupe todo el ancho disponible en pantallas pequeñas */
    }

    .form-group input,
    .form-group textarea {
        width: calc(100% - 30px); /* Ajustamos el ancho para respetar el padding en móviles */
    }

    .submit-button {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .contact-title {
        font-size: 1.5rem;
    }

    .contact-form {
        padding: 0 10px; /* Reducimos aún más el padding en pantallas muy pequeñas */
    }

    .form-group input,
    .form-group textarea {
        width: calc(100% - 20px); /* Ajustamos el ancho en pantallas más pequeñas */
    }

    .submit-button {
        padding: 8px 12px;
        font-size: 1rem;
    }

    .form-group label {
        font-size: 1rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }
}

/* Estilos para pantallas grandes (desktop) */
@media (min-width: 1024px) {
    .container,
    .about-section,
    .trabajos-section,
    .contact-section {
        padding: 100px 40px; /* Más espaciado en pantallas grandes */
    }
}

/* Estilos para tablets (768px a 1024px) */
@media (max-width: 1024px) {
    .nav-links,
    .contact-link {
        margin-right: 10px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-photo {
        margin: 0 0 20px 0; /* Centra la foto en pantallas más pequeñas */
    }

    .trabajos-container {
        flex-direction: column;
        align-items: center;
    }

    .trabajo-item {
        width: 80%; /* Más ancho en tablets */
    }
}

/* Estilos para móviles (menor a 768px) */
@media (max-width: 768px) {
    .nav-links.show-menu {
        position: absolute;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9); /* Más transparente para mejor visualización */
        width: 100%; /* Ocupa todo el ancho */
        padding: 20px 0;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .trabajos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .trabajo-item {
        width: 90%; /* Más ancho para que los trabajos ocupen más espacio */
    }

    .about-text,
    .about-photo {
        width: 100%; /* Ajusta las secciones sobre mí en pantallas pequeñas */
    }

    .about-title {
        font-size: 2.5rem;
    }

    .about-description {
        font-size: 1rem;
    }
}

/* Estilos para móviles muy pequeños (menor a 480px) */
@media (max-width: 480px) {
    .container,
    .about-section,
    .trabajos-section,
    .contact-section {
        padding: 50px 20px; /* Reduce el padding en móviles */
    }

    .trabajos-title,
    .contact-title {
        font-size: 2rem;
    }

    .trabajo-item {
        width: 95%; /* Aumenta el ancho en móviles */
    }

    .about-title {
        font-size: 2rem;
    }

    .about-description {
        font-size: 0.9rem;
    }

    .about-photo {
        width: 100%; /* Foto más pequeña para móviles */
    }

    .hello {
        font-size: 1rem;
    }

    .name {
        font-size: 2rem;
    }

    .social-icons a {
        font-size: 1.2rem;
    }

    .submit-button {
        padding: 8px 16px; /* Botón más pequeño */
        font-size: 1rem;
    }
}
